<h6>DISCOVER MORE OF WHAT MATTERS TO YOU</h6>
<div class="type__wrapper">
    <button class="btn btn-outline">
        Self
    </button>
    <button class="btn btn-outline">
        Relationships
    </button>
    <button class="btn btn-outline">
        Data Science
    </button>
    <button class="btn btn-outline">
        Programming
    </button>
    <button class="btn btn-outline">
        Machine Learning
    </button>
    <button class="btn btn-outline">
        Productivity
    </button>
    <button class="btn btn-outline">
        Javascript
    </button>
    <button class="btn btn-outline">
      Health
    </button>
</div>

<div class="line"></div>

<div class="type__wrapper">
    <button class="btn btn-text">
        Help
    </button>
    <button class="btn btn-text">
        Status
    </button>
    <button class="btn btn-text">
        Writer
    </button>
    <button class="btn btn-text">
        Blog
    </button>

    <button class="btn btn-text">
        Careers
    </button>
    <button class="btn btn-text">
        Privacy
    </button>
    <button class="btn btn-text">
        Terms
    </button>
    <button class="btn btn-text">
        About
    </button>
    <button class="btn btn-text">
        Knowable
    </button>
</div>