<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://miro.medium.com/max/8978/1*s986xIGqhfsN8U--09_AdA.png" width="200px"
                class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse justify-content-end">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Our Story</a>
                <a class="nav-item nav-link" href="#">Membership</a>
                <a class="nav-item nav-link" href="#">Write</a>
                <a class="nav-item nav-link disabled" href="#">Sign In</a>
                <button class="btn ">Get Started</button>
            </div>
        </div>
    </div>
</nav>

<div class="header__wrapper">
    <div class="container-fluid">
        <h1 class="header__title">
            Stay curious.
        </h1>
        <h4 class="header__description">
            Discover stories, thinking, and expertise from writers on any topic.
        </h4>
        <button class="btn header__btn">
            Start reading
        </button>
    </div>
 
</div>